fieldset {
  border: 1px solid #ccc;
  margin-bottom: 1.4rem;
}
legend {
  text-transform: uppercase;
  color: color(accent);
}

input[type=text], input[type=integer], textarea, select {
  padding: .3em;
  font-size: 1.1em;

  font-weight: bold;
  color: #333;
  border: 1px solid #ddd;
  border-radius: .2em;
}
input[type=integer]:not(:nth-of-type(2)):not(.align-left) {
  text-align: right;
}

.fieldset {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex-basis: 20em;
  }
}

.field {
  margin: .5em;
  display: flex;

  &:not(.field--patterns){
    align-items: baseline;
  }
}

.field__label {
  min-width: 8em;
  text-align: right;
  margin-right: .5em;
}

.field__input {
}

.field--patterns {
  flex-direction: row;
  flex-basis: 100%;
}

.form-actions {
  margin: .5em;
  margin-bottom: 1.5em;
}

button#generate {
  font-size: 1.3em;
}

.composition__wrapper {
  margin: 1.5em 0;
}

.composition__toggle {
  cursor: pointer;

  text-decoration: underline;
}
